---
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignOperands: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlignOperands: AlignAfterOperator
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
BraceWrapping:
  AfterFunction: true
  BeforeElse: true